body{
    background-image: url(../img/bg8.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-position: center;
    font-family: cursive;
}
.navbar{
    height: 65px;
    background-color: rgb(252, 206, 237 0.5);
    margin-left: 700px;
    margin-top: 20px;
    
}
.navbar a{
    font-size: 20px;
    font-family: cursive;
    color: rgb(252, 206, 237);
    text-shadow: rgb(189, 79, 149) 1px 2px 1px;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    
}
.navbar a:hover{
    background: rgb(237, 131, 205);
    border-radius: 40px;    
}
.gal{
    color: rgb(255, 3, 188);
    text-shadow: rgb(189, 79, 149) 1px 2px 1px;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
    padding-top: 70px;
    
}
.img-gal{
    height: 400px;
    padding: 20px;
    border-radius: 20%;
}
@media (max-width: 768px){
    .navbar{
        margin-left: 10px;
    }
    .navbar a{
        padding-left: 22px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin:0%;
        font-size: 2vw;   
    }
    .gal{
        font-size: 7vw;
    }
}
